/* Base styles */

body {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .025rem;
  background: #73e4dc;
  color: black;
  font-family: 'Ranchers', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
  border: none;
  border-top: 1px solid gray;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  display: flex;
  -webkit-display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex-grow: 1;
  padding: 1rem;
}

.banner {
  background: url('../images/brown.jpg');
  background-size: cover;
  min-height: 50vh;
  padding: 3rem;
  text-align: center;
}

.banner-text {
  display: inline-block;
  margin: auto;
  padding: 3rem;
  font-size: 2.5rem;
  width: auto;
  background: #b296d8;
  border: 15px solid black;
}

.profile-img {
max-height: 33vh;
width: auto;
border-radius: 50%;
}

.boy-1 {
  background: #3c63aa;
  color: black;
  /*border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-left: 80px;*/
}

.boy-2 {
  background: #b5c6e5;
  color: black;
}

.boy-3 {
  background: #bcb5e5;
  color: black;
  /*border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;*/
}

.footer{
  padding:3rem;
  textalign: center;
}
  .btn{
    padding:2rem 5rem;
    background: #3c63aa;
    color: #b296d8;
    fontsize: 2rem;
    border-radius: .25rem;
    letter spacing:2px;
    text transformation: uppercase;
    text-decoration: none;
    border: 2px double #b296d8;
    transition: all .5s ease;
}
.btn: hover {
  border: 10px solid #color;
  border radius: 1rem;
  letter spacing: 4px;
  opacity: .5;
}
    
      

